html {
  font-size: 62.5%;
}

body {
  user-select: none;
  margin: 0;
}

.mask {
  position: absolute;
  display: flex;
  z-index: 3;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.menu {
  position: absolute;
  z-index: 999;
  height: 800px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.menu section:nth-child(1) {
  box-sizing: border-box;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu section:nth-child(2) {
  flex: 8;
}

touch-bar {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
}

touch-bar .h100vh {
  height: 100vh;
}

touch-bar section {
  flex: 1;
}

.wall {
  width: 100%;
  height: 100vh;
}

.clock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.peach {
  background: #EACCCC;
}

.peach p {
  width: 7rem;
  text-align: center;
  font-family: Kanit;
  font-size: 10rem;
  color: #fff;
  text-shadow: 0 0.1rem 0 #deafaf, 0 0.2rem 0 #dba8a8, 0 0.3rem 0 #d8a1a1, 0 0.4rem 0 #d59999, 0 0.5rem 0 #d29292, 0 0.6rem 0 #cf8b8b, 0 0.7rem 0 #cc8484, 0 0.8rem 0 #c97d7d, 0 0 0.5rem rgba(231, 156, 156, 0.05), 0 -0.1rem 0.3rem rgba(231, 156, 156, 0.2), 0 0.9rem 0.9rem rgba(231, 156, 156, 0.3), 0 1.2rem 1.2rem rgba(231, 156, 156, 0.3), 0 1.5rem 1.5rem rgba(231, 156, 156, 0.3);
  float: left;
  margin: -0.3rem;
}

.peach p:nth-child(3n) {
  width: 4rem;
}

.digital {
  background: radial-gradient(#0A2E38, #000 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10rem;
  font-family: 'Share Tech Mono';
  text-shadow: 0 0 2rem #0AAFE6, 0 .2rem 0 #DAF6FF;
}

.glitch {
  background-color: #000;
}

.glitch p {
  color: #fff;
  font-family: 'Black Ops One';
  font-size: 4.5rem;
  letter-spacing: .2rem;
  transform: scale(2);
  position: relative;
}

.glitch p:before,
.glitch p:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.glitch p:before {
  left: .2rem;
  text-shadow: -0.2rem 0 0 #27C0C8;
  animation: glitch-1 2s linear infinite reverse;
}

.glitch p:after {
  left: -0.2rem;
  text-shadow: -0.2rem 0 0 #EA41B6;
  animation: glitch-2 2s linear infinite reverse;
}

@keyframes glitch-1 {
  0% {
    clip: rect(5.3rem, 35rem, 6.7rem, 0rem);
  }
  5% {
    clip: rect(10rem, 35rem, 8.2rem, 0rem);
  }
  10% {
    clip: rect(5.6rem, 35rem, 8rem, 0rem);
  }
  15% {
    clip: rect(6.4rem, 35rem, 4.2rem, 0rem);
  }
  20% {
    clip: rect(4.9rem, 35rem, 6.1rem, 0rem);
  }
  25% {
    clip: rect(6.9rem, 35rem, 2.8rem, 0rem);
  }
  30% {
    clip: rect(3.5rem, 35rem, 1.9rem, 0rem);
  }
  35% {
    clip: rect(8.3rem, 35rem, 3.1rem, 0rem);
  }
  40% {
    clip: rect(1.4rem, 35rem, 0.1rem, 0rem);
  }
  45% {
    clip: rect(6rem, 35rem, 8.7rem, 0rem);
  }
  50% {
    clip: rect(8.1rem, 35rem, 2.6rem, 0rem);
  }
  55% {
    clip: rect(6.7rem, 35rem, 6rem, 0rem);
  }
  60% {
    clip: rect(7.4rem, 35rem, 5.7rem, 0rem);
  }
  65% {
    clip: rect(1rem, 35rem, 5.6rem, 0rem);
  }
  70% {
    clip: rect(9.2rem, 35rem, 2.2rem, 0rem);
  }
  75% {
    clip: rect(8.8rem, 35rem, 7.8rem, 0rem);
  }
  80% {
    clip: rect(6.7rem, 35rem, 2.2rem, 0rem);
  }
  85% {
    clip: rect(1.9rem, 35rem, 6.7rem, 0rem);
  }
  90% {
    clip: rect(7rem, 35rem, 5.8rem, 0rem);
  }
  95% {
    clip: rect(6.5rem, 35rem, 7.1rem, 0rem);
  }
  100% {
    clip: rect(7.7rem, 35rem, 8.5rem, 0rem);
  }
}

@keyframes glitch-2 {
  0% {
    clip: rect(9.9rem, 35rem, 4.5rem, 0rem);
  }
  5% {
    clip: rect(9.3rem, 35rem, 7.7rem, 0rem);
  }
  10% {
    clip: rect(8.8rem, 35rem, 1.2rem, 0rem);
  }
  15% {
    clip: rect(3.2rem, 35rem, 7.7rem, 0rem);
  }
  20% {
    clip: rect(7.3rem, 35rem, 2.7rem, 0rem);
  }
  25% {
    clip: rect(9.2rem, 35rem, 0.1rem, 0rem);
  }
  30% {
    clip: rect(8rem, 35rem, 8.3rem, 0rem);
  }
  35% {
    clip: rect(4.2rem, 35rem, 1.4rem, 0rem);
  }
  40% {
    clip: rect(0.6rem, 35rem, 1.3rem, 0rem);
  }
  45% {
    clip: rect(4rem, 35rem, 0.1rem, 0rem);
  }
  50% {
    clip: rect(4.3rem, 35rem, 9.9rem, 0rem);
  }
  55% {
    clip: rect(8.8rem, 35rem, 5.9rem, 0rem);
  }
  60% {
    clip: rect(9rem, 35rem, 3.6rem, 0rem);
  }
  65% {
    clip: rect(0.6rem, 35rem, 0.2rem, 0rem);
  }
  70% {
    clip: rect(3.6rem, 35rem, 4.9rem, 0rem);
  }
  75% {
    clip: rect(9.3rem, 35rem, 7rem, 0rem);
  }
  80% {
    clip: rect(3.6rem, 35rem, 4rem, 0rem);
  }
  85% {
    clip: rect(2.7rem, 35rem, 2.2rem, 0rem);
  }
  90% {
    clip: rect(9.6rem, 35rem, 8rem, 0rem);
  }
  95% {
    clip: rect(6.7rem, 35rem, 6.9rem, 0rem);
  }
  100% {
    clip: rect(8.2rem, 35rem, 1.7rem, 0rem);
  }
}

.mini {
  height: 112.5px;
  background-color: #000;
  margin: 12.5px;
  width: 200px;
  border-radius: 10px;
}

.mini .clock {
  transform: scale(0.4);
}

@media (max-width: 100rem) {
  html {
    font-size: 45% !important;
  }
}
